<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>Purple Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="__PUBLIC__/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="__PUBLIC__/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="__CSS__/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="__IMG__/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left p-5">
              <div class="brand-logo">
                <img src="__IMG__/logo.png" style="width:60px;">&nbsp;&nbsp;&nbsp;&nbsp;后台管理
              </div>
              <h4>你好！我们开始吧</h4>
              <h6 class="font-weight-light">继续登录</h6>
              <form class="pt-3">
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="邮箱">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="密码">
                </div>
                <div class="mt-3">
                  <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">登录</a>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      选择我
                    </label>
                  </div>
                  <a href="#" class="auth-link text-black">记住密码?</a>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  还没有账号吗? <a href="register.html" class="text-primary">创造一个</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="__PUBLIC__/vendors/js/vendor.bundle.base.js"></script>
  <script src="__PUBLIC__/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="__JS__/off-canvas.js"></script>
  <script src="__JS__/misc.js"></script>
  <!-- endinject -->
</body>
</html>
<script>
  $(".auth-form-btn").on("click",function () {
      var email = $("#exampleInputEmail1").val();
      var password = $("#exampleInputPassword1").val();
      $.ajax({
          type: "POST",
          url: "login.html",
          data: {email:email,password:password},
          dataType: "json",
          success: function(data){
              if (data.code == 1) {
                  window.location.href = "index.html";
              } else {

              }
          }
      });
  });
</script>
